@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
    --background-color-primary: #212121;
    --background-color-secondary: #303030;
    --header-color: #5588ff;
    --light-text-color-primary: #fff;
    --light-text-color-secondary: #ddd;
    --dark-text-color: #292929;
    --footer-text-color: #495057;
    --link-color: #009dff;
    --link-hover-color: #00b7ff;
    --nav-tl-text-color: #5588ff;
    --nav-border-color: #ccc;
    --tip-color: #41af46;
    --note-color: #217ee7;
    --warning-color: #e18114;
}

body {
    background-color: var(--background-color-primary);
    font-family: Roboto,sans-serif;
}

a, a:visited {
    color: var(--link-color);
}

a:hover, a:visited:hover {
    color: var(--link-hover-color);
}

a[rel="next"], a[rel="prev"] {
    display: none;
}

footer, footer a, footer a:visited {
    color: var(--footer-text-color);
}

footer a {
    text-decoration: underline;
}

p, li {
    color: var(--light-text-color-primary);
}

li::marker {
    color: var(--light-text-color-secondary);
}

.navbar {
    background-image: none;
    background-color: var(--background-color-secondary) !important;
}

.navbar.nav {
    border: 1px solid var(--nav-border-color);
    border-radius: 0.3rem;
}

.navbar.nav > li {
    width: calc(100% - 1rem);
    margin-left: 1rem;
}

.navbar.nav > li > a, .navbar.nav > li > a:visited {
    color: var(--nav-tl-text-color);
}

.navbar.nav .dropdown > .dropdown-menu a, .navbar.nav .dropdown > .dropdown-menu a:visited {
    color: var(--dark-text-color);
}

.bs-sidebar ul {
    background-color: var(--background-color-secondary);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--header-color);
}

.admonition.tip, .admonition.note, .admonition.warning {
    background-color: var(--background-color-secondary);
    padding: 0;
    border-radius: 0;
}

.admonition.tip p, .admonition.note p, .admonition.warning p {
    padding-left: 1rem;
    padding-right: 1rem;
}

.admonition.tip .admonition-title, .admonition.note .admonition-title, .admonition.warning .admonition-title {
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
}

.admonition.tip .admonition-title {
    background-color: var(--tip-color);
}

.admonition.note .admonition-title {
    background-color: var(--note-color);
}

.admonition.warning .admonition-title {
    background-color: var(--warning-color);
}

.admonition-title::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: '\f05a  ';
}

/* fontawesome pseudoelement setup */
.icon::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
