@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
    --header-height: calc(3.5rem + 20px);
    --header-color: #4752c4;
    --background-color-primary: #212121;
    --background-color-secondary: #303030;
    --h-color: #5588ff;
    --light-text-color-primary: #fff;
    --light-text-color-secondary: #ddd;
    --dark-text-color: #292929;
    --footer-text-color: #495057;
    --link-color: #009dff;
    --link-hover-color: #00b7ff;
    --nav-tl-text-color: #5588ff;
    --nav-border-color: #ccc;
    --tip-color: #41af46;
    --tip-color-translucent: #41af4660;
    --note-color: #217ee7;
    --note-color-translucent: #217ee760;
    --warning-color: #e18114;
    --warning-color-translucent: #e1811460;
}

body {
    background-color: var(--background-color-primary);
    font-family: Roboto,sans-serif;
}

a, a:visited {
    color: var(--link-color);
}

a:hover, a:visited:hover {
    color: var(--link-hover-color);
    text-decoration: none;
}

[role="main"] a::after {
    display: inline-block;
    height: 0.8em;
    width: 0.8em;
    margin-left: 0.1em;
    vertical-align: middle;
    content: '';
    background-image: url('/img/icons/icons8-external-link.svg');
    background-size: contain;
}

[role="main"] {
    padding-top: 20px;
    min-height: calc(100vh - var(--header-height));
}

a[rel="next"], a[rel="prev"] {
    display: none;
}

footer, footer a, footer a:visited {
    color: var(--footer-text-color);
}

footer a {
    text-decoration: underline;
}

p, li {
    color: var(--light-text-color-primary);
}

li::marker {
    color: var(--light-text-color-secondary);
}

.navbar.fixed-top {
    background-image: none;
    background-color: var(--header-color) !important;
}

#nav-container {
    position: sticky;
    top: -20px;
    top: var(--header-height);
    height: calc(100vh - var(--header-height));
    border-right: 5px solid var(--header-color);
    z-index: 1000 !important;
}

.navbar.nav > li {
    width: calc(100% - 1rem);
    margin-left: 1rem;
}

.navbar.nav > li > a, .navbar.nav > li > a:visited {
    color: var(--nav-tl-text-color);
}

.navbar.nav .dropdown > .dropdown-menu a, .navbar.nav .dropdown > .dropdown-menu a:visited {
    color: var(--dark-text-color);
}

.dropdown-menu {
    width: fit-content;
}

.bs-sidebar ul {
    background-color: var(--background-color-secondary);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--h-color);
}

.admonition.tip, .admonition.note, .admonition.warning {
    padding: 1rem 0.5rem 0.5rem 1rem;
    border-top-left-radius: 0.4rem;
    border-bottom-left-radius: 0.4rem;
}

.admonition.tip .admonition-title, .admonition.note .admonition-title, .admonition.warning .admonition-title {
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
}

.admonition.tip {
    border-left: 3px solid var(--tip-color);
    background-color: var(--tip-color-translucent);
}

.admonition.note {
    border-left: 3px solid var(--note-color);
    background-color: var(--note-color-translucent);
}

.admonition.warning {
    border-left: 3px solid var(--warning-color);
    background-color: var(--warning-color-translucent);
}

/* .admonition.tip .admonition-title {
    background-color: var(--tip-color);
}

.admonition.note .admonition-title {
    background-color: var(--note-color);
}

.admonition.warning .admonition-title {
    background-color: var(--warning-color);
} */

.admonition-title::before {
    position: relative;
    display: inline-block;
    height: 1.2em;
    width: 1.2em;
    bottom: 0.1em;
    margin-right: 0.3rem;
    vertical-align: middle;
    content: '';
    background-image: url('/img/icons/icons8-info.svg');
    background-size: contain;
}
