@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

body {
    background-color: #212121;
    font-family: Roboto,sans-serif;
}

a, a:visited {
    color: #009dff;
}

a:hover {
    color: #00b7ff;
}

a[rel="next"], a[rel="prev"] {
    display: none;
}

footer a {
    color: #495057;
    text-decoration: underline;
}

p, li {
    color: #fff;
}

li::marker {
    color: #ddd;
}

.navbar {
    background-image: none;
    background-color: #303030 !important;
}

.navbar.nav {
    border: 1px solid #ccc;
    border-radius: 0.3rem;
}

.navbar.nav > li {
    width: calc(100% - 1rem);
    margin-left: 1rem;
}

.bs-sidebar ul {
    background-color: #292929;
}

h1, h2, h3, h4, h5, h6 {
    color: #5588ff;
}

.admonition.tip, .admonition.note, .admonition.warning {
    background-color: #303030;
    padding: 0;
    border-radius: 0;
}

.admonition.tip p, .admonition.note p, .admonition.warning p {
    padding-left: 1rem;
    padding-right: 1rem;
}

.admonition.tip .admonition-title, .admonition.note .admonition-title, .admonition.warning .admonition-title {
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
}

.admonition.tip .admonition-title {
    background-color: #41af46;
}

.admonition.note .admonition-title {
    background-color: #217ee7;
}

.admonition.warning .admonition-title {
    background-color: #e18114;
}

.admonition-title::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: '\f05a  ';
}

/* fontawesome pseudoelement setup */
.icon::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
